<% @page_title = "Edit Record" %>

<br />
<%= link_to("<< Back to list", earnings_path(:rider_id => @rider.id), :class => 'back-link') %>
<br />

<div class="form-background">
  <div class="form-main">
    <p>Update Record</p>

    <%= form_for(@earning, :url => earning_path(@earning, :rider_id => @rider.id), :class => 'form-group') do |f| %>

    <%= render( :partial => 'form', :locals => { :f => f }) %>

    <div class="form-buttons">
      <%= f.submit "Update record", :class => "save-button" %>
    </div>
    <% end %>
  </div>
</div>
