<% @page_title = "Record new earnings" %>

<%= link_to("<< Back to List", earnings_path(:rider_id => @rider.id), :class => 'back-link') %>

<div class="form-background">
  <div class="form-main">
    <h2>Record new earnings</h2>

      <%= form_for(@earning, :url => earnings_path(:rider_id => @rider.id), :method => 'post', :class => 'form-group') do |f| %>

      <form>
        <%= render( :partial => 'form', :locals => { :f => f }) %>

        <div class="form-buttons">
          <%= f.submit ("Save")  %>
        </div>
      </form>

      <% end %>

  </div>
</div>
