<% @page_title = "Edit Rider" %>

<br />
<%= link_to("<< Back to list", riders_path, :class => 'back-link') %>
<br />

<div class="form-main">
  <p>Update Riders</p>

  <%= form_for(@rider, :class => 'form-group') do |f| %>

  <%= render( :partial => 'form', :locals => { :f => f }) %>

  <div class="form-buttons">
    <%= f.submit "Update rider", :class => "save-button" %>
  </div>
  <% end %>
</div>
