<% @page_title = "Sign up new Rider" %>

<br>
<br>
<br>
<br>

<div>
  <br>
  <br>
  <center>
    <h3>Create an account.</h3>
    <p>Roostats it's free and always will be.</p>
  </center>
  <br>
  <br>
</div>
<div class="form-background">
  <div class="form-main">
    <p>Sign Up</p>

    <%= form_for(@rider, :url => riders_path, :class => 'form-group') do |f| %>

    <%= render( :partial => 'form', :locals => { :f => f }) %>

    <div class="form-buttons">
      <%= f.submit "Sign Up!", :class => "save-button" %>
    </div>
    <% end %>
  </div>
</div>
