
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
 @import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i');

 body {
   font-family: 'Source Sans Pro', Arial, sans-serif;

   input[type="number"]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }

   input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
   }

   input[type="number"] {
    -moz-appearance: textfield;
   }

 }

 footer {
   padding: 10px 0;
   width: 100%;
   border-top: 1px solid #AB25A2;
   margin-top: 40px;
   text-align: center;
   font-size: 16px;
   li { display:inline; margin-right: 50px; list-style: none; }

 }

 h1,h2,h3,h4,h5,h6 {
   font-family: 'Muli', Arial, sans-serif;
 }

 table {
   margin-top: 15px;
   text-align: center;
   overflow: auto;
   table-layout: fixed;

   th {
     color: #8D8D8D;
   }
   td {
     color: #545DF1;
     word-break: break-all;

     a { word-break: keep-all;}
   }
 }

 .back-link {
   color: #a4a4a4;

   span {
     font-size: 12px;
   }
 }

 .container:first-child {
   padding: 25px 35px;
 }

 .container {
   padding: 0px 25px;
 }

 .demo-section {
   background-color: #ffffff;
   width: 100%;
   padding: 10px;
   margin-left: 1px;
 }

.earnings-index{
  //earnings-index
  p {
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    color: #777575;
    font-size: 16px;
    padding: 15px 15px;
    margin: 15px 0px;
  }

  //earnings-index
  .add-new-record {
    a {
      color: #777575;
      letter-spacing: 2px;
      font-weight: 300;
    }

    img {
      margin: 2px 10px;
    }
  }

  //earnings-index
  table {
    margin-top: 15px;
    text-align: center;
    overflow: auto;
    table-layout: fixed;

    th {
      color: #8D8D8D;
      text-align: center;
    }//earnings-index
    td {
      color: #545DF1;
    }
  }
}//earnings-index

.earnings-stats {
  background-color: #ffffff;
  padding: 18px 30px;
}

.earnings-stats-bg {
  margin: 5px;
  padding: 7px;
  background: linear-gradient(to right, #8CF8D6, #5493ED);
}

.features-section {
  margin-top: 500px;
  padding: 80px 0px;
  p { font-size: 16px; }
  h3 { color: #545DF1;  }
  img { margin: 10px 0px 30px 0px; }
}

.form-background {
  margin: 5px;
  padding: 7px;
  background: linear-gradient(to right, #FF0059, #9C2BB0);
}

.form-main {
  background-color: #ffffff;
  padding: 18px 30px;

  //form-main
  p {
    border-bottom: 1px solid #c2c2c2;
    color: #777575;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 45px;
  }
  //form-main
  label {
    color: #a3a3a3;
    font-weight: normal;
    font-family: 'Muli', Arial, sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  //form-main
  input[type="number"], input[type="date"], input[type="text"], input[type="password"], input[type="email"] {
    border: 1px solid #ffffff;
    border-bottom: 1px solid #AB25A2;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 1px;
  }

  input[type="textfield"] {
    border: 1px solid #AB25A2;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 5px;
    border-radius: 0px;
    min-height: 100px;
  }
} // END form-main

.landing-section {
  text-align: center;
  color: #ffffff;
  padding: 10%;

  h1 { font-weight: 600; margin: 50px 0px 40px 0px; }
  p  { font-size: 18px; margin-bottom: 40px; font-weight: 200;}
  a  { border: 1px solid #ffffff; color: #ffffff; font-family: 'Muli', Arial, sans-serif; font-size: 16px; font-weight: 300; text-transform: uppercase; padding: 1% 32%; }
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0;
    top: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
}

.navbar-default  {
  color: #ffffff;
  background: linear-gradient(to right, #FF4687, #7C42FE );
  /*#FF0059 #9C2BB0 */
  border: none;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}

 .navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 16px;
}

.navbar-default .navbar-toggle {
   border: none;
   border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: rgba(255,255,255, 0.4) !important;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 background-color: transparent;
 color: #ffffff;
}

#navbar-public {
  background: rgba(220,220,220, 0.3) !important;
}

.public-index {
  background: image-url("homeBackground.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 500px;
  top: 0px;
  width: 100%;
  position: absolute;
}

.public {
  margin-top: 150px;
  h2 { font-weight: 600; text-align: center; margin-top: 25px; padding-bottom: 50px; border-bottom: 1px solid #AB25A2;}
  p { font-size: 18px; line-height: 30px; margin-top: 50px;}
}

.save-button {
  background-color: #ffffff;
  border: solid 1px #FF0059;
  color: #FF0059;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  margin: 30px 0px 15px 0px;
}

.save-button:hover {
  color: #ffffff;
  background-color: #FF0059;
}

.select-signup {
  text-align: center;

  img {
    margin: 45px 25px;
  }

  input[type='radio'] {
    -webkit-appearance:none;
    width:14px;
    height:14px;
    border:1px solid gray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 1px 0px gray inset;
  }

  input[type='radio']:hover {
    border:1px solid #AB25A2;
    box-shadow:0 0 1px 0px #AB25A2 inset;
  }

  input[type='radio']:before {
    content:'';
    display:block;
    width:50%;
    height:50%;
    margin: 22% auto;
    border-radius:50%;
  }

  input[type='radio']:checked {
    border:1px solid #AB25A2;
  }

  input[type='radio']:checked:before {
    background: #AB25A2;
    border:1px solid #AB25A2;
  }

  p {
    border-bottom: none;
    margin: 5px;
  }

}

@media screen and (max-width: 470px) {
    .hide-column {
        display: none;
    }
}
