<div class="public">
  <center>  <%= image_tag("roostats-logo.png", :alt => "Roostats") %> </center>
  <h2>About</h2>
  <p>Roostats is a free tool for Deliveroo riders in Melbourne to track their earnings in deliveroo. This app is unofficial, this have no relation with the company Deliveroo. I am myself a Deliveroo rider and as our salary is variable depending on the amount of hours worked, the number of orders delivered and the tips from generous customers I found a that tracking our earnings was a bit difficult, so I came out with this idea and use it to develop an this app as project for my master studies.</p>
  <p>I've discussed about this idea with some other Roos (Delivero riders, yes we are Roos!) and most of the riders don't keep track of their earnings or do it in a spreadsheet, and every rider have do it in its own way. The main objective of this tool is provide an easy way to us the Roos to track our earnings every fortnight.</p>
  <p>The salary in Deliveroo is variable, it depends on how many hours you work, the number of deliveries done and the tips given by customers. For instance, in one hour a rider could make approximately from zero to four orders, and sometimes customers gives some tips, so the earnings per hour may vary.  Riders doesn't have a tool to track their earnings and performance in terms of money.
This application will be a solution for the riders to mentioned problems.</p>

</div>
