<section class="landing-section">
  <h1>TRACK YOUR EARNINGS  <br/> IN REAL TIME</h1>
  <p>Unofficial desktop app meant to help deliveroo’s rider track their earnings, the easy way.</p>
  <%= link_to("Sign Up", new_rider_registration_path) %>
</section>
<br>
<br>
<br>
<section>
  <center>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag("dropOff.svg", :alt => "Roostats") %>
      <h3>Beautiful Title</h3>
      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
    </div>
    <div class="col-sm-4">
      <%= image_tag("hourly.svg", :alt => "Roostats") %>
      <h3>Beautiful Title</h3>
      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
    </div>
    <div class="col-sm-4">
      <%= image_tag("scooter.svg", :alt => "Roostats") %>
      <h3>Beautiful Title</h3>
      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
    </div>
  </div>
  </center>
</section>
